<td><%= category.name %></td>
<td class="text-right">
  <%= link_to content_tag(:i, nil, class: 'fa fa-edit'), edit_admin_category_path(category) %>
  <%= link_to content_tag(:i, nil, class: 'fa fa-trash'), admin_category_path(category), method: :delete, data: { confirm: t('admin.are_you_sure')}%>
</td>